
/*nav导航栏*/
.nav{
	background: #fff;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: 2px solid #ccc;
}
.nav .navbar-text {
    color: #777;
}
.nav .navbar-nav > li > a {
    color: #777;
    line-height: 30px;
    font-size: 16px;
    color: black;
}
.nav .navbar-nav > li > a:hover,
.nav .navbar-nav > li > a:focus {
    color: black;
    background-color: transparent;
}
.nav .navbar-nav > .active > a,
.nav .navbar-nav > .active > a:hover,
.nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
}
.nav .navbar-nav > .disabled > a,
.nav .navbar-nav > .disabled > a:hover,
.nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.nav .navbar-toggle {
	margin-top: 12px;
    border-color: #ddd;
}
.nav .navbar-toggle:hover,
.nav .navbar-toggle:focus {
    background-color: #ddd;
}
.nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.nav .navbar-collapse,
.nav .navbar-form {
    border-color: #e7e7e7;
}
.nav .navbar-nav > .open > a,
.nav .navbar-nav > .open > a:hover,
.nav .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fff;
}
@media (max-width: 767px) {
    .nav .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
    .nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #666;
        background-color: transparent;
    }
    .nav .navbar-nav .open .dropdown-menu > .active > a,
    .nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.nav .navbar-link {
    color: #777;
}
.nav .navbar-link:hover {
    color: #333;
}
.nav .btn-link {
    color: #777;
}
.nav .btn-link:hover,
.nav .btn-link:focus {
    color: #333;
}
.nav .btn-link[disabled]:hover,
fieldset[disabled] .nav .btn-link:hover,
.nav .btn-link[disabled]:focus,
fieldset[disabled] .nav .btn-link:focus {
    color: #ccc;
}
.nav .navbar-header .navbar-brand{
	display: block;
	width: 107px;
	height: 23px;
	background: url(../img/asus-logo-black.png) no-repeat center;
	background-size: 107px 23px;
	-ms-behavior: url(backgroundsize.min.htc);
    behavior: url(backgroundsize.min.htc);
	margin: 15px 0;
}
.nav .form-control{
	margin-top: 15px;
}
.nav .navbar-nav .navbar-right{
	position: relative;
}
.nav .navbar-nav .search{
	background: url(../img/index/icon-search.png) no-repeat center;
	position: absolute;
	top:16px;
	right: 0;
}
@media screen and (max-width: 1200px) {
	.nav .navbar-nav .search{
		right: -10px;
	}
}
@media screen and (max-width: 992px) {
	.navbar-nav>li>a{
		padding: 15px 10px;
	}
}
@media screen and (max-width: 768px) {
	.nav .navbar-nav .search{
		background: url(../img/index/icon-search.png) no-repeat center;
		width: 25px;
		right: 10px;
		top: 0;
	}
	.business .container{
		width: 400px;
	}
}
.nav .dropdown-menu{
	position: absolute;
}
.nav .info,.nav .pic{
	position: absolute;
	top: 20px;
}
.nav .info{
	left:25%;	
}
.nav .info a{
	color:#8C8C8C;
}
.nav .info a:hover{
	color:#00a8ff;
}
.nav .pic{
	left:58%;	
}
.business .info{
	left: 50%;
}
@media screen and (min-width: 992px ) {
	.dropdown.product .dropdown-menu.container,.dropdown.activity .dropdown-menu.container{
		width: 900px;
		padding: 20px 0;
	}
	.business .container{
		width: 400px;
		padding: 20px 0 80px 0;
	}
	.ss .container{
		width: 200px;
		padding: 20px 0;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.activity .container{
		left: -200%;
		width: 900px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.activity .container{
		left: -400%;
		width: 900px;
	}
}
@media screen and (max-width: 992px ) and (min-width:768px) {
	.product>.container{
		width: 650px;
		padding: 20px 0;
	}
	.business .container{
		width: 400px;
		padding: 20px 0 80px 0;
	}
	.ss .container{
		width: 200px;
		padding: 20px 0;
	}
}
@media screen and (max-width: 768px) {
	.nav .container,{
		padding: 0;
	}
}
.nav .info .title{
	color:#000;
	font-size: 16px;
}
.activity ul li img{
	width: 100%;
}
.dropdown-menu>div>li>a{
	display: block;
	padding: 3px 20px;
}
.dropdown-menu>div>li:hover,
.dropdown-menu>div>li:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.product .dropdown-menu>li>a{
	padding: 5px 20px;
}
.nav .info li{
	padding: 2px 0;
}
.nav .navbar-header .navbar-brand{
	margin-left: 10px;
}



/*底部*/
.footer{
	background: #ebebeb;
}
.footer .col-sm-3{
	padding-left: 50px;
}
.footer h4{
	margin: 20px 0;
	color: black;
}
.footer ul li a{
	color: #7c7c7c;
}
.footer ul li a:hover{
	color:#00a8ff;
}
.footer .weibo,.footer .renren,.footer .weixin{
	display: inline-block;
	width: 42px;
	height: 42px;
}
.footer .weibo{
	background: url(../img/index/183_n.png);
}
.footer .renren{
	background: url(../img/index/184_n.png);
}
.footer .weixin{
	background: url(../img/index/230_n.png);
}
.footer .language{
	margin-top: 50px;
}
.footer .language ul li{
	float: left;
}
.footer .language span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/index/global_icon.png);
	vertical-align: middle;
}
.footer .language a,.footer .banquan li{
	color: #7c7c7c;
}
.footer .banquan a{
	padding: 0 10px;
	border-right: 1px solid black;
}
.footer .banquan ul{
	float: right;
}


.title{
	background: rgba(255,255,255,0.8);
	height: 50px;
	position: relative;
	z-index: 3;
}
.title h3{
	line-height: 50px;
}
.title ul{
	float: right;
}
.title .container ul li{
	float: left;
	height: 48px;
	line-height: 48px;
	padding: 0 10px;
	cursor: pointer;
	border-top: 2px solid transparent;
}
.title li{
	list-style: none;
}
.title.dropdown a{
	color: black;
}
.title .dropdown-menu{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #333;
	box-shadow: none;
	width: 100%;
}
.title .dropdown-menu li{
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
	cursor: pointer;
}
.title .dropdown-menu li:hover{
	background: #ccc;
}
.title .dropdown-toggle h3{
	padding-left: 10px;
}

/*主体*/
.main {
	margin-top: 50px;
}
.main .info h3{
	margin-top: 80px;
	padding-bottom: 20px;
}
.main .info{
	border-bottom: 2px solid #ccc;
}
.main .info img{
	width: 100%;
}
.main .info ul{
	list-style: disc;
	color:#428bca;
}
.main .info ul span{
	color: black;
}
/*轮播*/
.main .slide{
	margin: 100px 0;
	padding-bottom: 70px;
}
.main .slide h1{
	font-weight: 500;
}
.main .slide img{
	width: 100%;
}
.main .word{
	padding-left: 100px;
	height: 220px;
}
.main .carousel-control.left{
	height: 68px;
	min-width: 68px;
	background: url(../img/1050/arrow_l.png) no-repeat center;
	top:80%;
	left: 10%;
}
.main .carousel-control.right{
	height: 68px;
	min-width: 68px;
	background: url(../img/1050/arrow_r.png) no-repeat center;
	top:80%;
	right: 10%;
}
.carousel-indicators li{
	background: #ccc;
}
.carousel-indicators li.active{
	background: black;
}

/*主体中部*/
.main .Z170,.main .software{
	width: 90%;
	background: #f4f4f4;
	padding: 100px 40px;
    position: relative;
}
.main img{
	width: 100%;
}
.main .Z170 .words{
	margin-top: 15%;
}
.main h1,.main h4{
	margin: 10px 0;
}
.main .Z170 p{
	font-size: 14px;
	color: #666;
}

.main .fengshan{
	width: 90%;
	padding: 100px 40px;
}
.main .fengshan .words{
	margin-top: 10%;
}

.main .software{
	padding: 100px 10px 10px 0;
}
.main .software .top{
	margin-bottom: 80px;
	padding: 0;
}
.main .software .gpu{
	padding: 60px 40px;
	background: #e2e2e2;
}
/*轮播图2*/
.slide2{
	width: 80%;
}
#carousel-example-generic1 .carousel-control.left,#carousel-example-generic1 .carousel-control.right{
	top:90%;
}
#carousel-example-generic1 .word{
	height: 150px;
}
#carousel-example-generic1 .carousel-indicators{
	bottom: 3%;
}

@media screen and (max-width: 992px) {
	.main .word{
		padding-left: 0px;
	}
	.main .Z170{
		width: 100%;
	}
	.main .fengshan{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.main .slide{
		margin: 80px 0;
		padding-bottom: 70px;
	}
	.main .container{
		padding: 20px 0px;
	}
	.main .carousel-control.left{
		top: 90%;
		left: 10%;
	}
	.main .carousel-control.right{
		top: 90%;
		right: 10%;
	}
	.main .Z170 img,.main .fengshan img{
		width: 80%;
		margin-left: 10%;
	}
	.main .words,{
		margin-top: 0;
	}
	.slide2{
		width: 90%;
	}
	.main .HDMI{
		padding: 20px 10px;
	}
	.main .software .top{
		margin-bottom: 250px;
	}
}

/*技术*/
.technology{
	width: 90%;
}
.technology img{
	width: 80px;
}
.technology{
	text-align: center;
}
.technology p{
	font-size: 12px;
}

/*HDMI*/
.HDMI{
	padding-top: 100px;
}
.HDMI img{
	width: 200px;
	padding-bottom: 20px;
}
.HDMI ul{
	list-style: disc;
	margin-bottom: 20px;
}
.standard,.gallery{
	display: none;
}

/*规格*/
.standard .produce li:hover{
	background: #efefef;
}
.standard .produce li div.col-sm-3 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.standard .produce li span{
	font-size: 20px;
}
.standard .produce li div.col-sm-9 {
	padding-top: 20px;
	padding-bottom: 30px;
	border-left: 1px solid #ccc;
}
/*图库*/
.gallery{
	border: 1px solid #ccc;
	padding: 0;
}
.gallery div img{
	width: 100%;
}
.gallery .col-sm-2{
	width: 20%;
	padding: 0;
}
.gallery div{
	border-right: 1px solid #ccc;
}
.gallery div:last-child{
	border:0;
}
.gallery div a{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.gallery div a:hover img{
	opacity: 0.5;
}
.gallery div a:hover{
	background: #A9A9A9;
}

@media screen and (max-width: 768px) {
	.standard .produce li div.col-sm-3{
		padding-bottom: 0;
		border-left: 1px solid #ccc;
	}
	.standard .produce li div.col-sm-9 {
		padding-top: 0;
		padding-bottom: 30px;
	}
	.gallery .col-xs-12{
		width: 100%;
	}
	.gallery div{
		padding: 5px 0;
		border-right: 0;
		border-bottom: 1px solid #ccc;
	}
}

